* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
--root {
    --text-color: #000000;
    --background-color: rgba(196, 196, 196, 0.6);
}
html {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.all {
    max-width: 1200px;
     margin: 0 auto;
}
.infor {
    background-color: black;
    width: 100%;
    height: 20px;
}
.infor span {
    color: white;
}
.infor__mation {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.socials {
    /* margin-right: 10px; */

}
.socials a {
    font-size: 20px;
    text-decoration: none;
    color: white;
}
@media screen and (max-width: 600px) {
    .all {
        width: 600px;
        margin: 0;
    }
}