* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
--root {
    --text-color: #000000;
    --background-color: rgba(196, 196, 196, 0.6);
}
html {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}