/* header */
.header {
  display: flex;
  justify-content: space-between;
  /* max-width: 1600px; */
  margin-top: 32px;
  max-width: 1200px;
  margin: 32px auto;
  /* position: fixed;
  top: 0; */
}
.heading {
  display: flex;
  justify-content: space-between;
}
.icon-extra {
  margin-right: 70px;
  font-size: 20px;
  margin-top: 7px;
}
.name-shop {
  margin-left: 50px;

}
.name-shop a {
  text-decoration: none;
  display: block;
  color: var(--text-color);
}
.name-shop a:hover {
  text-decoration: underline;
  text-decoration-color: #6dc3fc;
}
.search {
  margin-left: 100px;
  display: flex;
}
.search input{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 20px;
  font-size: 15px;
  background: rgba(196, 196, 196, 0.6);
  width: 500px;
  height: 40px;
  border-radius: 22px;
  border: none;
  outline: none;
}
.search-icon {
  font-size: 20px;
  transform: translateX(-35px);
  margin-top: 10px;
}
.nav-list {
  display: inline-flex;
  list-style: none;
  align-items: center;
  font-size: 17px;
}
.nav-item {
  margin: 0 30px 0 0;
}
.nav-item__icon {
  display: none;
}
/* menu */
.overlay {
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display: none;
  animation: fadeIn linear 0.2s;
}
.menu {
  /* display: none; */
  width: 380px;
  z-index: 2;
  opacity: 0;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  flex-direction: column;
  height: 100%;
  transform: translateX(100%);
  background-color: white;
  transition: transform linear 0.2s;
}
.menu--icon {
  font-size: 25px;
  right: 10px;
  top: 10px;
  position: absolute;
  cursor: pointer;
}
.menu-icon {
  cursor: pointer;
}
.menu-list {
  margin: 15% 0;
  padding: 40px 0;
  list-style: none;
  font-size: 25px;
}
.menu-list li {
  border-top: 2px solid rgb(199, 198, 198);
  /* margin: 10px 0 70px 0; */
}
.menu-list .menu-list__item, li:hover {
  background: rgb(224, 223, 223);
}
.menu-list .menu-list__item, li a {
  text-decoration: none;
  color: var(--text-color);
  display: block;
  padding: 20px 40px;
}
.menu-list .menu-list__item, li a i {
  padding-right: 5px;
}
.menu-list--active {
  border-left: 5px solid rgb(143, 143, 143);
  /* background: rgb(224, 223, 223); */
}
.navbar {
  display: none;
}
.navbar:checked ~ .overlay {
  display: block;
}
.navbar:checked ~ .menu {
  opacity: 1;
  transform: translateX(0%);
}
.navbar:checked ~ .container {
  /* margin: 0;  */
  height: 100%;
  overflow: hidden
}
.hidden {
 display: none;
}
/* sale */
.sale {
  background-color: black;
  width: 100%;
  height: 70px;
  margin-top: 25px;
  position: relative;
}
.sale-decs {
  /* font-size: 24px; */
  color: white;
  margin: 24px 0 23px 40%;
  position: absolute;
}
/* container */
.container {
  max-width: 1200px;
     margin: 0 auto;
  /* margin: 0 20px; */
}
.suggest-product {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5px;
}
.header-suggest {
  /* display: flex; */
  margin:11px 55px;
  justify-content: space-between;
}
.name-suggest {
  font-size: 25px;
  text-align: center;
  font-weight: 400;
  display: flex;

}
.name-suggest b:first-child {
  /* display: block;
  width: 480px;
  height: 2px;
  text-align: center;
  background-color: black;
  transform: translate(-54px, 17px); */
  display: block;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 2px;
    opacity: .1;
    background-color: currentColor;
    transform: translate(-56px, 17px);
}
.name-suggest b:last-child {
  display: block;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 2px;
    opacity: .1;
    background-color: currentColor;
    transform: translate(53px, 17px);
}
.header-suggest__icon {
  font-size: 20px;
  color: gray;
}
.product {
  margin-top: 10px;
  margin-left: 40px;
  width: 190px;
  height: 305px;
  background-color: rgba(196, 196, 196, 0.6);
  border-radius: 10px;
}
.img {
  position: relative;
  display: flex;
}
.img img {
  /* z-index: 1; */
  width: 100%;
  height: 50%;
  border-top-right-radius: 10px;
  display: block;
  border-top-left-radius: 10px;
}
/* rating */
.rating-2 {
  display: none;
}
.rate:checked ~ .rating-2 {
  display: block;
}
/* rating */
.img i {
  cursor: pointer;
  right: 5px;
  position: absolute;
  top: 5px;
  font-size: 20px;
}
.size {
  /* position: absolute;
  width: 100%;
  height: 100%; */
  background-color: rgba(160, 203, 191, 0.9);
  display: none;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  /* opacity: 0; */
  transition: .5s ease;
}
.size ul {
  display: flex;
  list-style: none;
  margin: 45% 0 0 10px;
}
.size ul li {
  cursor: pointer;
  margin: 0 2px;
  width: 30px;
  line-height: 30px;
  height: 30px;
  border-radius: 21px;
  background-color: white;
  text-align: center;
}
/* .product-img:hover ~ .size {
  display: block;
} */
.img:hover ~ .size {
  opacity: 1;
}
.product-infor {
  margin: 10px;
}
.product-infor p, h3 {
  margin-bottom: 10px;
  margin-top: 10px;
}
/* new */
.new-title {
  margin:15px 55px;
}
.new-title h3 {
  font-size: 25px;
  text-align: center;
  font-weight: 400;
  display: flex;
}
.new-title h3 b {
  display: block;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 2px;
    opacity: .1;
    background-color: currentColor;
}
.new-product {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5px;

}
/* footer */
.footer {
  position: relative;
  width: 100%;
  height: 300px;
  background-color: black;
  margin-top: 50px;
}
.footer-flex {
  display: flex; 
  color: white;
  max-width: 1100px;
  margin: 0 auto;
  /* flex-wrap: wrap; */
}
.footer-content {
  width: 275px;
  margin-left: 70px;
  margin-top: 20px;
}
.footer-content p {
  text-align: justify;
}
.footer-content div {
  margin: 10px 0 20px 0;
  width: 30px;
  height: 3px;
  background-color: #4d4d4d;
}
.content-list {
  list-style: none;
}
.content-list li {
  margin-top: 10px;
}
.content-list li a {
  text-decoration: none;
  color: white;
}
.footer-copy {
  width: 100%;
  margin-top: 50px;
  position: absolute;
  height: 10%;
  background-color: rgb(59, 59, 59);
}
.footer-copy p {
  color: #b4a6a6;
  text-align: center;
  margin-top: 6px;
  font-size: 15px;
}
/* keyframe */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}